.shopLayout {
  display: grid;
  gap: 1rem;
}

.splitLayout {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 2rem;
  align-items: start;
}

.grid {
  display: grid;
  gap: 1rem;
}

@media (max-width: 900px) {
  .splitLayout {
    grid-template-columns: 1fr;
  }

  .splitLayout > aside {
    display: none;
  }
}
